@import "tailwindcss";

@theme {
  --font-lora: "Lora", serif;
  --font-montserrat: "Montserrat", sans-serif;

  --breakpoint-mdl: 57.5rem;

  --color-primary: #f8eeee;
  --color-secondary: #a88f8f;
  --color-tertiary: #d6a9a9;
  --color-sextenary: #722f37;
  --color-septenary: #a94449;

  --spacing-grid: 5.63vw;
}

@layer base {
  html {
    font-family: var(--font-montserrat);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;
  }
  body {
    background: url(/background.jpg) center / cover repeat-y;
  }
}

@layer utilities {
  .text-fluid-title {
    font-size: clamp(1.5rem, 1.2rem + 2vw, 2.5rem);
  }
  .text-fluid-paragraph {
    font-size: clamp(1rem, 0.875rem + 0.78vw, 1.25rem);
  }
  .px-grid {
    padding-inline: var(--spacing-grid);
  }
  .mx-grid {
    margin-inline: var(--spacing-grid);
  }
}

@layer components {
  .btn-primary {
    display: flex;
    align-items: center;
    gap: calc(var(--spacing) * 3);
    border-radius: var(--radius-lg);
    background-color: var(--color-primary);
    width: max-content;
    padding-inline: calc(var(--spacing) * 4);
    padding-block: calc(var(--spacing) * 3);
    font-family: var(--font-lora);
    font-size: var(--text-lg);
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: var(--color-septenary);
    text-transform: uppercase;
    transition: background-color 0.3s, color 0.3s;
  }
  @media (hover: hover) {
    .btn-primary:hover {
      background-color: var(--color-secondary);
      color: var(--color-sextenary);
    }
  }

  .btn-secondary {
    display: flex;
    align-items: center;
    gap: calc(var(--spacing) * 3);
    border-radius: var(--radius-lg);
    background-color: var(--color-septenary);
    width: max-content;
    padding-inline: calc(var(--spacing) * 4);
    padding-block: calc(var(--spacing) * 3);
    font-family: var(--font-lora);
    font-size: var(--text-lg);
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: var(--color-primary);
    text-transform: uppercase;
    transition: background-color 0.3s;
  }
  @media (hover: hover) {
    .btn-secondary:hover {
      background-color: var(--color-sextenary);
    }
  }
}
